@page
@using WebApplication2.Entity;
@using WebApplication2.Service;
@model WebApplication2.Pages.Category.AddCategoryModel
@{
}

<form method="post">
  <label for="fname">Type Code :</label><br>
  <input type="text" name="typeCd" value="@Model.typeCd"><br>
  <label for="lname">Type Description :</label><br>
  <input type="text" name="typeDesc" value="@Model.typeDesc"><br><br>
  <input type="submit" value="Create">
</form>

<p>
	@Model.result
</p>
